.Navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #FFFFFF;
    color: #000000;
    display: inline-flex;
  }

  .Navbar_brand1{
    font-weight: 10px;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
}

.Navbar_brand2{
  margin-left: 300px;
  font-weight: 10px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.Navbar_brand3{
  margin-left: 300px;
  font-weight: 10px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

span{
  margin-left: 20px;
}
